div h1{
 text-align: center;
 
}
p.ec::first-line{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p.ec::first-letter{
    color: blue;
    line-height: 20px;
    font-size: xx-large;

}
.ec::selection{
    color: springgreen;
    background-color: aqua;
}
div h1::before{
    content: url(smiley.png);

}
h1::after{
    content: url(smiley.png);
}
::marker{
    color: blueviolet;
    font-size: 25px;
}

nav{
    margin: 0;
    padding: 0;
}
nav{
 padding-left: 50px;
 margin-top: 30px;
word-spacing: 15px;

}
a{
    text-decoration: none;
}
a:link{
    color:blue;
}
a:visited{
    color:#00ff00;
}
a:hover{
    color:aqua;
}
a:active{
    color: darkorange;
}
p:first-child{
    color:darkblue;
}























